# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.websocket-sharp.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\wqrmc\Documents\GitHub\websocket-sharp5\.idea\.idea.websocket-sharp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
